.modal {
    margin: 0;
    padding: 0;
    z-index: 1;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    background: var(--modal-shade);
}

.modal-div {
    position: relative;
    margin-top: 10%;
    margin-left: 25%;
    padding: 10pt;
    background: var(--modal-background);
    width: 50%;
    border: 1px solid var(--modal-border);
}

.close-modal {
    top: 5pt;
    right: 5pt;
    position: absolute;
}
