.navbar {
    position: absolute;
    height: calc(45pt - 6px);
    width: calc(100% - 6px);
    color: var(--navbar-text);
    font-size: 12pt;
    padding: 3px 3px 2px;
    border-bottom: 1px solid var(--navbar-border);
    background: var(--navbar);
}

.navbar-contents {
    display: inline-flex;
    align-items: center;
}

.navbar-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.nav-button {
    padding: 10pt;
    align-items: center;
}

.nav-button:hover {
    cursor: pointer;
    background: var(--button-highlight);
    border-color: var(--button-highlight-border);
}

.nav-button-selected {
    padding: 10pt;
    align-items: center;
    background: var(--button-selected);
    border-color: var(--button-selected-border);
}

.notifications-div {
    padding: 3pt;
    height: 16pt;
    min-width: 16pt;
    border: none;
    display: block;
    text-align: center;
    align-items: center;
    border-radius: 12pt;
    background: var(--notifications-button);
}

.notifications-div:hover {
    cursor: pointer;
    background: var(--button-highlight);
}

.notifications-div-highlight {
    background: var(--notifications-present);
}

.notifications-div-highlight:hover {
    cursor: pointer;
    background: var(--notifications-present-highlight);
}

.notifications-panel {
    top: 45pt;
    margin: 0;
    padding: 0;
    z-index: 1;
    right: 85pt;
    width: 300pt;
    color: var(--notifications-text);
    max-height: 60%;
    overflow: auto;
    background: var(--notifications-background);
    position: absolute;
    align-items: center;
    border: 1px solid var(--notifications-border);
    border-top: none;
}

.no-new-notifications {
    margin: 0;
    width: 100%;
    height: 30vh;
    display: inline-flex;
    text-align: center;
    align-items: center;
    color: var(--notification-loading-text);
    background: var(--notification);
    border-top: 1px solid var(--notification-border);
}

.no-new-notifications div {
    width: 100%;
    text-align: center;
}

.notification-dismiss-button {
    top: -5pt;
    right: -5pt;
    float: right;
    position: relative;
}

.notification-dismiss-button:hover {
    color: var(--notification-dismiss-hover);
}

.notifications-table {
    width: 100%;
    border-collapse: collapse;
}

.notifications-table td {
    padding: 10pt;
    background: var(--notification);
    border-top: 1px solid var(--notification-border);
}

.notifications-table td:hover {
    cursor: pointer;
    background: var(--notification-highlight);
}

.logout-div {
    display: inline-flex;
    padding: 10pt;
}

.logout-div:hover {
    cursor: pointer;
    background: var(--button-highlight);
    border-color: var(--button-highlight-border);
}
