/* Font */

@font-face {
    font-family: "Noto-Sans";
    src: url('../res/NotoSansUI-Regular.ttf');
}

/* General */

html {
    height: 100%;
}

body {
    margin: 0;
    color: var(--body-text);
    height: 100%;
    background: var(--body-background);
    font-family: Noto-Sans, sans-serif;
}

.body-div {
    top: 45pt;
    width: 100%;
    overflow: auto;
    display: block;
    position: absolute;
    height: calc(100% - 45pt);
}

/* Buttons */

.button {
    padding: 7pt;
    display: inline-flex;
    color: var(--button-text);
    border: 1px solid;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}

/* Button colors */

.success-button {
    background: var(--success-button);
    border-color: var(--success-button-border);
}

.success-button:hover {
    background: var(--success-button-hover);
}

.confirm-button {
    background: var(--confirm-button);
    border-color: var(--confirm-button-border);
}

.confirm-button:hover {
    background: var(--confirm-button-hover);
}

.danger-button {
    background: var(--danger-button);
    border-color: var(--danger-button-border);
}

.danger-button:hover {
    background: var(--danger-button-hover);
}

/* Button sizes */

.small-button {
    padding: 4pt;
}

.small-button-img {
    padding-right: 2pt;
}

.medium-button {
    padding: 8pt;
}

.medium-button-img {
    padding-right: 4pt;
}

.large-button {
    padding: 12pt;
}

.large-button-img {
    padding-right: 6pt;
}

/* Padding */

.left-pad-10 {
    padding-left: 10pt;
}

.right-pad-10 {
    padding-right: 10pt;
}
