/* Font */

@font-face {
    font-family: "Noto-Sans";
    src: url('../res/NotoSansUI-Regular.ttf');
}

/* General */

html {
    height: 100%;
}

body {
    margin: 0;
    color: var(--body-text);
    height: 100%;
    background: var(--body-background);
    font-family: Noto-Sans, sans-serif;
}

h1 {
    margin: 0;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
}

h2 {
    margin: 0;
    padding-top: 0.83em;
    padding-bottom: 0.83em;
}

h3 {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

h4 {
    margin: 0;
    padding-top: 1.33em;
    padding-bottom: 1.33em;
}

h5 {
    margin: 0;
    padding-top: 1.67em;
    padding-bottom: 1.67em;
}

h6 {
    margin: 0;
    padding-top: 2.33em;
    padding-bottom: 2.33em;
}

.body-div {
    top: 45pt;
    width: 100%;
    overflow: auto;
    display: block;
    position: absolute;
    height: calc(100% - 45pt);
    background: var(--body-content-background);
}

/* Buttons */

.button {
    padding: 7pt;
    display: inline-flex;
    color: var(--button-text);
    border: 1px solid;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}

/* Button colors */

.success-button {
    background: var(--success-button);
    border-color: var(--success-button-border);
}

.success-button:hover {
    background: var(--success-button-hover);
}

.confirm-button {
    background: var(--confirm-button);
    border-color: var(--confirm-button-border);
}

.confirm-button:hover {
    background: var(--confirm-button-hover);
}

.danger-button {
    background: var(--danger-button);
    border-color: var(--danger-button-border);
}

.danger-button:hover {
    background: var(--danger-button-hover);
}

/* Button sizes */

.small-button {
    padding: 4pt;
}

.small-button-img {
    padding-right: 2pt;
}

.medium-button {
    padding: 8pt;
}

.medium-button-img {
    padding-right: 4pt;
}

.large-button {
    padding: 12pt;
}

.large-button-img {
    padding-right: 6pt;
}

/* Padding */

.left-pad-10 {
    padding-left: 10pt;
}

.right-pad-10 {
    padding-right: 10pt;
}

/* Forms */
.form-field {
    width: 150pt;
    margin: 5pt;
    padding: 10pt;
    font-family: Noto-Sans, sans-serif;
    border: 1px solid var(--form-border);
}

.form-error {
    border: 1px solid var(--form-error-border);
}

.form-button {
    margin: 5pt;
    width: 150pt;
    text-align: center;
    display: inline-block;
    border-radius: 0;
}
