<div class="navbar">
    <table class="navbar-table">
        <tr>
            <td>
                <div>
                    <div class="left-pad-10"><img height="16" src="../img/user.svg" alt="User"/></div>
                    <div id="user-login-text" class="left-pad-10 right-pad-10"></div>
                    <div class="nav-button-selected">Projects</div>
                    <div class="nav-button">Settings</div>
                    <div class="nav-button">Administration</div>
                </div>
            </td>
            <td align="right">
                <div>
                    <div class="right-pad-10">
                        <div class="notifications-div" onclick="showNotifications();"><b>0</b></div>
                    </div>
                    <div class="logout-div" onclick="logout();">
                        <div class="right-pad-10">Logout</div>
                        <div><img height="16" src="../img/logout.svg" alt="Logout"/></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="notifications" class="notifications-panel" hidden>
    <div>
        <h4 class="left-pad-10">NOTIFICATIONS</h4>
        <table class="notifications-table">
            <tr>
                <td>user1 commented on task54</td>
            </tr>
            <tr>
                <td>task553 assigned to you</td>
            </tr>
            <tr>
                <td>user1 commented on task54</td>
            </tr>
            <tr>
                <td>task553 assigned to you</td>
            </tr>
            <tr>
                <td>user1 commented on task54</td>
            </tr>
            <tr>
                <td>task553 assigned to you</td>
            </tr>
            <tr>
                <td>notification with long long long long long long long long long long
                    long long long long long long long long long long text
                </td>
            </tr>
            <tr>
                <td>task553 assigned to you</td>
            </tr>
        </table>
    </div>
</div>

